<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDc2RCWuXb8itqrfkkHUO_n1NXNMjgXZWE</string>
	<key>GCM_SENDER_ID</key>
	<string>690602777560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kaltourHybrid</string>
	<key>PROJECT_ID</key>
	<string>webpush-82874</string>
	<key>STORAGE_BUCKET</key>
	<string>webpush-82874.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690602777560:ios:78563702b54a15430630ad</string>
</dict>
</plist>