<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>한진관광</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>한진관광</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>113</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kb-bankpay</string>
		<string>kakaoplus</string>
		<string>hanaskcardmobileportal</string>
		<string>naversearchthirdlogin</string>
		<string>lmslpay</string>
		<string>wooripay</string>
		<string>kakaotalk</string>
		<string>kftc-bankpay</string>
		<string>upluscorporation</string>
		<string>ktauthexternalcall</string>
		<string>tauthlink</string>
		<string>ispmobile</string>
		<string>lpayapp</string>
		<string>payco</string>
		<string>shinsegaeeasypayment</string>
		<string>smhyundaiansimclick</string>
		<string>hdcardappcardansimclick</string>
		<string>hanawalletmembers</string>
		<string>cloudpay</string>
		<string>citimobileapp</string>
		<string>citicardappkr</string>
		<string>citispay</string>
		<string>newsmartpib</string>
		<string>com.wooricard.wcard</string>
		<string>smshinhanansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>scardcertiapp</string>
		<string>samsungpay</string>
		<string>vguardstart</string>
		<string>ansimclickipcollect</string>
		<string>tswansimclick</string>
		<string>ansimclickscard</string>
		<string>mpocket.online.ansimclick</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>nhappcardansimclick</string>
		<string>kbbank</string>
		<string>liivbank</string>
		<string>newliiv</string>
		<string>kb-acp</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string></string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play using while you are hiking</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app need to access your Bluetooth</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need to access your Calendars</string>
	<key>NSContactsUsageDescription</key>
	<string>Some ad content may access calendar</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app need to access your  Location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app need to access your Location</string>
	<key>NSMotionUsageDescription</key>
	<string>This app need to access your Motion Data</string>
	<key>NSSiriUsageDescription</key>
	<string>This app need to access your  Siri Data</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app need to access your  Speech Recognition</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>kTCCServiceMediaLibrary</key>
	<string>This app need to access your Music Usage</string>
</dict>
</plist>
